.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px;
  background: #222;
  color: #fff;
}

.about {
  flex: 0.6 0.6 150px;
  min-width: 150px;
  color: #ffae00;
}

.footerLinks {
  flex: 0.6 0.6 150px;
  min-width: 150px;
}

.footerLinks h3 a {
  color: #7fff00;
  font-size: 0.6em;
}

.footerLinks h3 b,
.email {
  color: #ff69b4;
  font-size: 0.6em;
}

.phone {
  color: #ff69b4;
}

.whatsapp {
  color: #7fff00;
}

.footerLinks h3 {
  color: #fff;
  margin-bottom: 6px;
  font-size: 0.8em;
  font-weight: bold;
}

.footerLinks a {
  color: #2a2aff;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 0.8em;
  word-break: break-word;
}

/* Responsive styles for mobile */
@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    gap: 0;
    padding: 8px 4px;
  }
  .about, .footerLinks {
    min-width: unset;
    width: 100%;
    margin-bottom: 8px;
  }
  .footerLinks h3 {
    font-size: 0.8em;
  }
  .about h3 {
    font-size: 0.6em;
  }
  .footerLinks a {
    font-size: 0.8em;
  }
}