.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper img {
    border-radius: 50%;
}

.whyContent {
    padding: 0px 0px 0px 15px;
}

.whyContent p {
    font-weight: 400;
    line-height: 1.8;
}